<div class="circle circle1"></div>
<div class="circle circle2"></div>
<div class="circle circle3"></div>
<div class="about">
    <div class="informationContainer">
        <h1>Sobre mim:</h1>
        <div class="card">
            <h2>Desenvolvedor WEB 💻</h2>

            <p>Olá! Sou um entusiasta do desenvolvimento WEB, meu foco está em criar sistemas e aplicações que rodam na WEB para solucionar problemas e facilitar processos operacionais de organizações.</p>

            <h3>O que eu ofereço:</h3>
            <ul>
                <li>🛰️ Desenvolvimento de API REST utilizando ASP.NET, Spring Boot ou Express;</li>
                <li>💻 Desenvolvimento de aplicações WEB SSR com Angular, React ou NextJS;</li>
                <li>🖌️ Design interativo e responsivo utilizando CSS, Bootstrap ou Tailwind;</li>
                <li>📱 Desenvolvimento de Aplicativos Mobile utilizando React Native com expo;</li>
                <li>☁️ Integração de serviços em nuvem como Firebase, Azure ou AWS;</li>
                <li>🎲 Manipulação de bancos de dados SQL e NoSQL.</li>
            </ul>

            <p>🤝 Estou ansioso para contribuir com minha habilidade técnica a uma equipe que valoriza o progresso e a inovação. Se você está à procura de um desenvolvedor, vamos conversar</p>
        </div>
    </div>

    <div class="techs">
        <h2>Tecnologias:</h2>
        <div class="gridTechs">
            <img title="Angular" src="../../../assets/techs/angular.png"  >
            <img title="AWS" src="../../../assets/techs/aws.png" alt="">
            <img title="Azure" src="../../../assets/techs/azure.png" alt="">
            <img title="Bootstrap" src="../../../assets/techs/bootstrap.png" alt="">
            <img title="C#" src="../../../assets/techs/csharp.png" alt="">
            <img title="CSS" src="../../../assets/techs/css.png" alt="">
            <img title="Firebase" src="../../../assets/techs/firebase.png" alt="">
            <img title="HTML" src="../../../assets/techs/html.png" alt="">
            <img title="Java" src="../../../assets/techs/java.png" alt="">
            <img title="Javascript" src="../../../assets/techs/javascript.png" alt="">
            <img title="MongoDB" src="../../../assets/techs/mongoDB.png" alt="">
            <img title="MySQL" src="../../../assets/techs/mySQL.png" alt="">
            <img title="NextJS" src="../../../assets/techs/nextJS.png" alt="">
            <img title="Node" src="../../../assets/techs/node.png" alt="">
            <img title="Postgree" src="../../../assets/techs/postgree.png" alt="">
            <img title="Python" src="../../../assets/techs/python.png" alt="">
            <img title="React Native" src="../../../assets/techs/react.png" alt="">
            <img title="Sass" src="../../../assets/techs/sass.png" alt="">
            <img title="Tailwind" src="../../../assets/techs/tailwind.png" alt="">
            <img title="Typescript" src="../../../assets/techs/typescript.png" alt="">
            <img title="Wordpress" src="../../../assets/techs/wordpress.png" alt="">
        </div>
    </div>

</div>