<div class="projects">
    <div class="grid">
        <div class="projectCard">
            <div class="img">

            </div>
            <div class="infos">
                <span class="projectTitle">Nome do Projeto</span>
                <span class="techs">techs</span>
            </div>
        </div>

        <div class="projectCard">
            <div class="img">

            </div>
            <div class="infos">
                <span class="projectTitle">Nome do Projeto</span>
                <span class="techs">techs</span>
            </div>
        </div>

        <div class="projectCard">
            <div class="img">

            </div>
            <div class="infos">
                <span class="projectTitle">Nome do Projeto</span>
                <span class="techs">techs</span>
            </div>
        </div>

        <div class="projectCard">
            <div class="img">

            </div>
            <div class="infos">
                <span class="projectTitle">Nome do Projeto</span>
                <span class="techs">techs</span>
            </div>
        </div>

        <div class="projectCard">
            <div class="img">

            </div>
            <div class="infos">
                <span class="projectTitle">Nome do Projeto</span>
                <span class="techs">techs</span>
            </div>
        </div>

        <div class="projectCard">
            <div class="img">

            </div>
            <div class="infos">
                <span class="projectTitle">Nome do Projeto</span>
                <span class="techs">techs</span>
            </div>
        </div>

        <div class="projectCard">
            <div class="img">

            </div>
            <div class="infos">
                <span class="projectTitle">Nome do Projeto</span>
                <span class="techs">techs</span>
            </div>
        </div>
        
    </div>
</div>