<div class="hero">
    <div class="pictureContainer">
        <img class="image" src="../../../assets/me2.jpg">
    </div>
    <div class="nameContainer">
        <span class="comment">//Olá mundo!</span>
        <span> 
            &lsaquo;
            <span class="htmlTag">h1 </span>
            <span class="reservedWord">class</span>
            <span class="htmlTag">=</span>
            <span class="string">"nome"</span>
            &rsaquo;
        </span>
        <h1 class="name"> Pedro Henrique Ribeiro</h1>
        <span> &lsaquo;/<span class="htmlTag"> h1</span> &rsaquo;</span>
        <div class="socialMedias">
            
        </div>
    </div>
</div>
