<div class="certifications">
    <div class="badge">
        <img src="../../../assets/badges/aws-academy-graduate-aws-academy-cloud-foundations.png" />
        <a target="_blank" href="https://www.credly.com/badges/a887e7cd-ca4e-4c6c-aa9d-31e8e38c9d9a/public_url">Verificar</a>
    </div>
    <div class="badge">
        <img src="../../../assets/badges/az-900.png" alt="">
        <a target="_blank" href="https://learn.microsoft.com/api/credentials/share/pt-br/PedroHenrique-6236/72DAA5F16146BD96?sharingId=FC55A6E237670C0">Verificar</a>
    </div>
</div>
